<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="icon" type="image/x-icon" href="/public/img/favicon.ico">
    <title>오케스트로</title>
    <!-- css -->
    <link rel="stylesheet" href="/public/css/sub.css">

    <!-- js -->
    <script src="/public/js/jquery-3.6.1.min.js"></script>
    <script src="/public/js/common.js"></script>
    <script>
        
    </script>
</head>
<body id="page_">
    <header>
        <div class="bn">
            <div class="maxWidth">
                <br>
                <p>
                    
                </p>
            </div>
        </div>
        <ul class="gnb maxWidth"></ul>
    </header>

    <main class="maxWidth2 wrap_content">
        <form action="" class="wrap_left" id="form"></form>
        <div class="wrap_right">
            <div class="bx">
                <h3></h3>
                <div class="list_detail">
                    <p title="">
                        <span>
                            
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </main>

    <footer></footer>
</body>
</html>