<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="icon" type="image/x-icon" href="/public/img/favicon.ico">
    <title>오케스트로</title>
    <!-- css -->
    <link rel="stylesheet" href="/public/css/sub.css">

    <!-- js -->
    <script src="/public/js/jquery-3.6.1.min.js"></script>
    <script src="/public/js/common.js"></script>
    <script>
        
    </script>
</head>
<body id="page_contact">
    <header>
        <div class="bn">
            <div class="maxWidth">
                Contact Us
            </div>
        </div>
        <ul class="gnb maxWidth"></ul>
    </header>

    <main class="maxWidth2 wrap_content">
        <ul>
            <li>
                <img src="/public/img/contact_ico_home.svg" alt="">
                <p class="t_blue">Visit Us</p>
                서울특별시 영등포구 여의대로 108, 43층 (여의도동, 파크원타워2)
            </li>
            <li>
                <img src="/public/img/contact_ico_phone.svg" alt="">
                <p class="t_blue">Call Us</p>
                02-6080-0029
            </li>
            <li>
                <img src="/public/img/contact_ico_email.svg" alt="">
                <p class="t_blue">Contact Us</p>
                info@okestro.com
            </li>
        </ul>
        
        <p class="t_blue">
            <img src="/public/img/contact_ico_location.svg" alt="">
            Find Us
        </p>

        <div id="daumRoughmapContainer1664923517102" class="bx_map root_daum_roughmap root_daum_roughmap_landing"></div>
        <script charset="UTF-8" class="daum_roughmap_loader_script" src="https://ssl.daumcdn.net/dmaps/map_js_init/roughmapLoader.js"></script>
        <script charset="UTF-8">
            new daum.roughmap.Lander({
                "timestamp" : "1664923517102",
                "key" : "2bwvy",
                
            }).render();
        </script>
    </main>

    <footer></footer>
</body>
</html>